<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597301674175-nlod9ndki09abtpmclotdfkrqqmrathb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597301674175-nlod9ndki09abtpmclotdfkrqqmrathb</string>
	<key>API_KEY</key>
	<string>AIzaSyAidJCOoNA8VCjIfC1r8RGKttEKfk66ItE</string>
	<key>GCM_SENDER_ID</key>
	<string>597301674175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.souloneapps.InstaPost</string>
	<key>PROJECT_ID</key>
	<string>instapost-59319</string>
	<key>STORAGE_BUCKET</key>
	<string>instapost-59319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597301674175:ios:992ce25dbb088284c6c60a</string>
	<key>DATABASE_URL</key>
	<string>https://instapost-59319.firebaseio.com</string>
</dict>
</plist>